body{
margin: 0px;
}


.container{
     position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
/*
    border-width: 2px;
    border-color: black;
    border-style: solid;
*/
}

canvas{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000;*/
    margin: 0 auto;
}